# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Scan results and logs
wadix_scan_*/
*.log
*.tmp

# Exclude random txt but allow project wordlists and requirements
!requirements.txt
!wordlists/**

# Environments
.env
.venv
env/
venv/
ENV/

# OS generated
.DS_Store
Thumbs.db
